* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #imageToGray {
    transition: flter 0.5s ease;
} */

/* .grayed {
    filter: grayscale(100%);
} */

#hiddenButton {
    display: none;
}

body {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
}

/* THE START OF THE HEADER */

/* header * {
    border: 1px solid #fff;
} */

header {
    height: 10%;
    background-color: #000;
    width: 100%;
    color: #fff;
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 1;
}

#player1-container {
    margin-right: 2.5%;
}

#player1-container, 
#computer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#gameTitle,
#declaredWinner {
    padding: 20px 0;
    font-size: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#whoIsPlaying,
#computerScore,
#playerScore {
    font-size: 35px;
}

/* THE END OF THE HEADER */

/* THE START OF THE MAIN */

main {
    width: 100%;
    height: 75%;
}

#choices {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#rock-container, 
#paper-container, 
#scissors-container {
    border: .5px solid #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    cursor: pointer;
    filter: blur(10px) contrast(50%);
}

#rock-container {
    background: url("/photos/artem-kniaz-Z9_pOnIbgjg-unsplash.jpg");
    background-size: cover;
    background-position: 12% 85%;
}

#paper-container {
    background: url("/photos/annie-spratt-5cFwQ-WMcJU-unsplash.jpg");
    background-size: cover;
    background-position: 10% 90%;
}

#scissors-container {
    background: url("/photos/brina-blum-jBxqFcnLY9M-unsplash.jpg");
    background-size: cover;
    background-position: 95% 5%;
}

@media (hover: hover) {
    #rock-container:hover, 
    #paper-container:hover, 
    #scissors-container:hover {
        filter: grayscale(0%);
    }
}

/* THE END OF THE MAIN */

/* THE START OF THE FOOTER */

footer {
    background-color: #000;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    position: sticky;
    z-index: 1;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
}

#playButton {
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #333;
    font-family: 'Cinzel', serif;
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    padding: 30px;
    position: absolute;
    z-index: 4;
    bottom: 25rem;
    box-shadow: 0 15px 20px #000;
    transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
    #playButton:hover {
        transform: translateY(-2rem);
        border-color: yellow;
        color: yellow;
    }
}

#gamePrompt,
#gameOver {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 150px;
    color: #fff;
    position: absolute;
    z-index: 3;
    bottom: 37rem;
}

#gamePrompt {
    animation: fadeOut 2s;
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#roundCounter {
    padding: 40px 0;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 60px;
}

#resetButton {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    background-color: #333;
    font-family: 'Cinzel', serif;
    color: #fff;
    font-size: 40px;
}

@media (hover: hover) {
    #resetButton:hover {
        border-color: yellow;
        color: yellow;
        cursor: pointer;
    }
}

/* THE END OF THE FOOTER */